.parking-first-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pa-layout{
    width: 100%;
}

.parking-second-row{
    margin-top: 2%;
    width: 99.9%;
    display: flex;
    justify-content: space-between;
}

.pa-dwd-graph-container{
    width: 49%;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}

.pa-dwd-graph-container h4{
    text-align: center;
}