.parking-area-container {
    width: 100%;
    height: 100%;
    background: #f7eac6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parking-slots {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-parking-slot {
    display: flex;
    gap: 3%;
    width: 90%;
    height: 100%;
    justify-content: center;
}

.first-parking-slot>div {
    width: 28%;
    height: 90%;
    background: #d9d9d9;
}

.road-container {
    width: 100%;
    height: 40%;
    background: #26272c;
    display: flex;
    justify-content: space-around;
}

#road-1 {
    position: relative;
    width: 12%;
    height: 100%;
    background: #6a6a6a;
}

#road-1 img{
    width: 30%;
    height: 20%;
    position: absolute;
}

#road-1 img:first-child {
    left: -15%;
    top:40%;
}

#road-1 img:nth-child(2) {
    right: -15%;
    top:10%;
}

#road-1 img:nth-child(3) {
    right: -15%;
    top:60%;
}

#road-2 {
    position: relative;
    width: 12%;
    height: 100%;
    background: #6a6a6a;
}

#road-2 img{
    width: 30%;
    height: 20%;
    position: absolute;
}

#road-2 img:first-child {
    left: -15%;
    top:40%;
}

#road-2 img:nth-child(2) {
    right: -15%;
    top:10%;
}

#road-2 img:nth-child(3) {
    right: -15%;
    top:60%;
}

.parking-area-container span {
    color: #3A98B9;
    font-weight: 800;
}