.parent:hover{
    fill: rgba(255, 133, 4, 0.58);
}

.parent{
    fill: aqua;
}

.bg-theme{
    backdrop-filter: blur(19px) saturate(200%) !important;
    -webkit-backdrop-filter: blur(19px) saturate(200%) !important;
    background-color: rgba(44, 45, 51, 0.56) !important;
    border-radius: 5px;
    border: 1px solid rgba(209, 213, 219, 0.3) !important;
}


.apexcharts-tooltip {
    /* background: #f3f3f3; */
    color: orange !important;
  }
