@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');

:root {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Gabarito', sans-serif;
  letter-spacing: 1px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --font-sans-serif: "Inter",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  /* custoom variables for background and colors */
  --s: 100px; /* control the size */
  --_g: #00000000 90deg,#366 0;
  --bg-primary:#202125;
  --bg-secondary:#141517;
}

body{
  color: white;
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
  /* background-image: url("./assets/istockphoto-114288673-612x612.jpg"); */
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #5a5a5a;
}

body::-webkit-scrollbar-thumb {
  background: #ffffff;
}

main{
  margin-left: 4rem;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  main{
    margin: 0;
  }
}

